<?xml version="1.0" encoding="UTF-8"?>
<!-- The name of the product -->
<?define Name = "Simulador Florestal" ?>
<!-- The Description of the product -->
<?define Description = "Simulador is a WPF desktop application." ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "Westrock" ?>
<!-- The version number of this setup package-->
<?define Version = "0.0.10" ?>
<!-- UpgradeCode must be unique and not changed once the first version of the program is installed. -->
<?define UpgradeCode = "{C611A4EF-62C5-4048-B561-6F71FB0C760C}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="$(var.Name)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Version="$(var.Version)">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
			<!-- TODO: Define the list of chained packages. -->
      <MsiPackage
        SourceFile="C:\Users\ronal\source\repos\henrique4d\Simulador\Instalador\SetupSimuladorFlorestal\bin\Release\SetupSimuladorFlorestal.msi"
        Compressed="yes"
        />
		</Chain>
	</Bundle>
</Wix>